.box {
	display: flex;
	justify-content: space-evenly;
}
.mafiaoza--logo {
	height: auto;
    max-height: 100px;
    width: auto;
    max-width: 100%;
}

.nav--list {
	display: flex;
	justify-content: space-between;
}

.nav--list > li {
	list-style: none;
	margin: 0.5rem;
	padding: 0.5rem;
	border-bottom: 0rem;
	}

.nav--list > li > a {
	color: black;
	font-weight: bold;
	text-decoration-line: none;
}

.gcard {
		outline: none;
		list-style: none;
		width: 30.5%;
		text-align: center;
		line-height: 3;
		background-color: white;
		color: black;	
		text-decoration-line: none;
		white-space: nowrap;
}
h1 {
    color: red;
    font-size: 5pc;
	border: 1px solid gray;
	border-radius: 0.3rem;
	text-align: center
}

.item--name {
    font-style: italic;
}

.menu--items {
    list-style: none;
}

.locations {
	display: flex;
	flex-direction: row;
	list-style: none;
	background-color: rgb(44, 46, 46);
	border: .1rem solid black;
	text-align: center;
}

.nashville {
	background-color: darkred;
	text-decoration-line: none;
	list-style: none;
	width: 600px;
	border: .1rem solid black;
	padding: 15px;
}

.franklin {
	background-color: darkred;
	text-decoration-line: none;
	list-style: none;
	width: 600px;
	border: .1rem solid black;
	padding: 15px;
}

.information {
	list-style: none;
	justify-content: space-evenly;
	align-content: center;
}

.locationdetails {
	list-style: none;
	background-color: black;
	border: .1rem solid white;
	width: 300px;
	align-items: center;

}

.social--links__items > li {
    color: red;
    display: inline;
    background-color: black;
	text-decoration: none;
	border: 0.2rem solid red;
	border-radius: 1rem;
	padding: 0.5rem;
	margin: 4rem;
}

.social--links__items > li > a {
	color: red;
}