.box {
	display: flex;
	justify-content: space-evenly;
	text-decoration-line: none;
}

a {
	text-decoration: none;
	color: white;
}
.mafiaoza--logo {
	height: auto;
    max-height: 100px;
    width: auto;
    max-width: 100%;
}

.nav--list {
	display: flex;
	justify-content: space-between;
	text-decoration-line: none;
}

.nav--list > li {
	list-style: none;
	margin: 0.5rem;
	padding: 0.5rem;
	border-bottom: 0rem;
	}

.nav--list > li > a {
	color: black;
	font-weight: bold;
	text-decoration-line: none;
}

.gcard {
		outline: none;
		list-style: none;
		text-align: center;
		line-height: 3;
		background-color: black;
		color: white;	
		text-decoration-line: none;
		white-space: nowrap;
		border: 4px solid black;
		border-radius: .3rem;
}
h1 {
    color: red;
    font-size: 5pc;
	border: 1px solid gray;
	border-radius: 0.3rem;
	text-align: center
}

.item--name {
    font-style: italic;
}

.menu--items {
    list-style: none;
}

.locations {
	display: flex;
	list-style: none;
	border: .1rem solid black;
	text-align: center;
	color: white;
	text-decoration: none;
	background-color: rgb(36, 34, 34);
}

.nashville {
	align-self: flex-start;
	background-color: darkred;
	list-style: none;
	width: 600px;
	border: .1rem solid black;
	padding: 15px;
}

.franklin {
	align-self: flex-end;
	background-color: darkred;
	list-style: none;
	width: 600px;
	border: .1rem solid black;
	padding: 15px;
}

.information {
	list-style: none;
	justify-content: space-evenly;
	align-content: center;
	margin: 5px;
	padding: 5px;
	
}

.locationdetails {
	list-style: none;
	background-color: black;
	border: .1rem solid white;
	width: 300px;
	padding: 10px;
	margin: 10px;
	}

.social--links__items > li {
    color: red;
    display: inline;
    background-color: black;
	text-decoration: none;
	border: 0.2rem solid red;
	border-radius: 1rem;
	padding: 0.5rem;
	margin: 4rem;
}

.social--links__items > li > a {
	color: red;
}